
.table-header {
    font-weight: bold;
    border-top: 1px solid gray;
}

.table-row {
    width: 100%;
    display: grid;
    grid-gap: 1px;
    padding: 2px 0;
    /*grid-auto-rows: 30px;*/
    /*border-right: 1px solid gray;*/
}

.table-columns-5 {
    grid-template-columns: 1fr 1fr 2fr 60px 60px;
}

.table-columns-4 {
    grid-template-columns: 1fr 1fr 60px 60px;
}

.table-columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.table-columns-2 {
    grid-template-columns: 1fr 1fr;
}

.table-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 30px;
    /*border-left: 1px solid gray;*/
}


.icon {
    color: #666565;
    text-decoration: none;
}

.admin-subpage{
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    margin: 100px 40px 10px 40px;
}

.admin-subpage.hidden{
    display: none;
}

.main-container-left-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.main-subsection {
    min-width: 680px;
    background-color: #f3f2f2;
    padding: 20px;
}

.station-section {

}


/*trains*******************/
.station-names-cell {
    text-transform: capitalize;
    /*font-size: 12px;*/
    justify-content: left;
}

#train-section .input-box{
    margin: 10px 0;
}

/*routes******************************/

.route-timetable-item {
    margin: 20px 0px;
}

.passenger-info-title{
    font-size: 14px;
    margin: 10px 0 4px 0;
    font-weight: bold;
    background-color: var(--main-color);
}
.passenger-info-row {
    font-size: 13px;
}

.schedule-item{
    padding: 8px;
    background-color: var(--main-color);
    border-radius: 8px;
    margin: 8px;
}

.routes_stations_div_item{
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr;
    grid-row-gap: 10px;
    margin: 10px 0;
}

.routes_stations_div_item span{
    font-size: 14px;
    vertical-align: middle;
    align-self: end;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #a52b2b;
}

.timetable-input{
    width: 100px;
    height: 24px;
}

.route-day-of-week{
    text-align: center;
    font-size: 12px;
}
#route-days-of-week{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.routes_stations_div_item label{
    color: #a7a1a1;
    font-size: 14px;
}

.train-input-info label{
    width: 150px;
    display: block;
}

.train-input-info{
    display: flex;
}

.timetable-input-left{
    position: relative;
}

.timetable-input-left::after{
    content: "\e14c";;
    font-family: "Material Icons";
    display: block;
    position: absolute;
    left: 55px;
    font-size: 12px;
    color: var(--main-color);
    bottom: 0;
}

#train-info-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}








