
.table-header {
    font-weight: bold;
    border-top: 1px solid gray;
}

.table-row {
    width: 100%;
    display: grid;
    grid-gap: 1px;
    grid-auto-rows: 30px;
    border-right: 1px solid gray;
}

.table-columns-5 {
    grid-template-columns: 1fr 1fr 1fr 60px 60px;
}

.table-columns-4 {
    grid-template-columns: 1fr 1fr 60px 60px;
}

.table-columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.table-columns-2 {
    grid-template-columns: 1fr 1fr;
}

.table-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}


.icon {
    color: #666565;
    text-decoration: none;
}

.main-container {
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    margin: 100px 40px 10px 40px;
}

#main-container-left-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.main-subsection {
    min-width: 550px;
    background-color: #f3f2f2;
    padding: 20px;
}

.station-section {
    margin-top: 50px;
}


/*trains*******************/
.station-names-cell {
    text-transform: capitalize;
    font-size: 12px;
    justify-content: left;
}


/*routes******************************/

.route-timetable-item {
    margin: 20px 0px;
}

.passenger-info-title{
    font-size: 14px;
    margin: 10px 0 4px 0;
    font-weight: bold;
}
.passenger-info-row {
    font-size: 13px;
}

.schedule-item{
    padding: 8px;
    background-color: var(--main-color);
    border-radius: 8px;
    margin: 8px;
}










