.btn {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #ffde11;
}

.btn-secondary {
    background-color: #d5d5d1;
}

.table-header {
    font-weight: bold;
    border-top: 1px solid gray;
}

.table-row {
    width: 100%;
    display: grid;
    grid-gap: 1px;
    grid-auto-rows: 30px;
    border-right: 1px solid gray;
}

.table-row-5 {
    grid-template-columns: 1fr 1fr 1fr 60px 60px;
}

.table-row-4 {
    grid-template-columns: 1fr 1fr 60px 60px;
}

.table-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

.edit-popup-container {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(22, 22, 22, 0.5);
}

.edit-popup {
    max-width: 300px;
    position: relative;
    margin: 0 auto;
    top: 25%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.icon {
    color: #666565;
    text-decoration: none;
}

.main-container {
    width: 100%;
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
}

#main-container-left-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.main-subsection {
    min-width: 550px;
    background-color: #f3f2f2;
    padding: 20px;
}

.station-section {
    margin-top: 50px;
}

.hidden {
    display: none;
}
